body{
	margin: 0px;
	padding: 0;
	font-family: 'Raleway';
	color: black;
	font-weight: normal;
}
hr{
	border-color: rgba(242, 242, 242, 0.3);
}
a{
	text-decoration: none;
	color: #666666;
}
#navBar{
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: normal;
}
li {
	list-style-type: none;
	display: inline-block;
}
h1{
	display: inline-block;
	font-size: 28px;
	color: black;
}
img{
	width:100%;
	height: auto;
}
#content-desktop{
	display: block;
}
#content-mobile_900{
	display: none;
}
#content-mobile_901{
	display: none;
}
@media screen and (max-width: 900px) {

#content-desktop{
	display: none;
}
#content-mobile_900{
	display: block;
}
}
@media screen and (min-width: 901px) {

#content-desktop{
	display: none;
}
#content-mobile_900{
	display: none;
}
#content-mobile_901{
	display: block;
}
}